
  @font-face {
  font-family: 'SuisseIntlMono1';
  src: url('./Assets/fonts/suisseintl-book.otf') format('opentype');
  font-style: normal;
  }

  html,body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    gap: 3rem;
  }

  .main-container {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100%;
    height: 100%;
    top: 1px;
  }

  .background{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    align-content: center;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    background: linear-gradient(180deg, #FFFFFF 10%, #A2D3EB 70%, #FFFFFF 90%);
  }

  .navbar {
  position: relative;
  display: flex;
  flex-direction: row;
  top: 8px; 
  justify-content: space-around;
  width: 95%;
  align-content: center;
  height: 40px;
  background: none;
  }

  a{
  text-decoration: none;
  color: rgba(11, 31, 54, 1);
  font-size: 12px;
  font-weight: 500px;
}

a:hover {
  text-decoration:underline; 
}

  .nav-left {
  display: flex;
  flex-direction: row;
  text-align: center;
  margin-left: -65px;
  margin-top: 20px;
  gap:90px;
  justify-content: space-between;
  }

  .navtext{
  font-family:"Poppins";
  font-weight: 500;
  color:rgba(11, 31, 54, 1);
  font-size: 13px;
  border: 0.4px solid rgba(255, 255, 255, 1);
  }


  .nav-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  width: 284px;
  height: 284px;
  left: 50%;
  transform: translate(-52%, -52%);
  background-color: rgba(255, 255, 255, 1);
  border-radius:50%;
  z-index: 10;
  margin-top: 10px;
  }


  .imglogo{
    margin-top: 75px;
    height: 214px;
    width: 214px;
    object-fit: contain;
    background: none;
  }

  .nav-right{
    display: flex ;
    flex-direction: column;
    width: 187px;
    height: 44px;
    margin-top: 10px;
    border-radius: 100%;
  }

  .btn-ayuda{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
    width: 100%;
    height: 40px;
    margin-left: 68px;
    border-radius: 100px;
    background: none;
    border: none;
    box-shadow: 0px 0px 4px rgba(36, 81, 122, 0.15);
    background:linear-gradient(90deg, #24517A 0%, #4295E0 100%);
    cursor: pointer;
  }

    .btn-text{
    font-size: 14px;
    font-family: 'Poppins';
    color: white;
    justify-content: center;
    text-align: center;
    font-weight: 500;
    margin: auto;
    }


  .video-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
    width: 100%;
    height: 100vh;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
  }


  .videoDesktop {
    display: block;
    position: relative;
    width: 100%;
    max-width: 1400px;
    height: 100%;
    aspect-ratio: 16 / 9 !important;
    margin: 40px;
    border-radius: 30px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);  
  }

  .videoDesktop iframe {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: none;
  }


  .videoMobile{
    display: none;
  }
  
  .hero-section{
    margin:0 0 0 0;
    padding: 0 0 0 0;
    margin-top: -50px;
  }

  .hero-message{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    display: block;
  }

  .hero-message-mobile {
    display: none;
  } 

  .text1{
  font-family: "SuisseIntlMono1";
  color: rgba(255, 255, 255, 1);
  font-size: 70px;
  font-weight: 450;
  text-align: center;
  }

  .text2{
  font-family: "SuisseIntlMono1";
  color: rgba(36, 81, 122, 1);
  font-size: 70px;
  font-weight: 450;
  text-align: center;
  margin-top: -65px;
  margin-bottom: 2px;
  }


  .btn-agendar{
    color: white;
    height: 40px;
    width: 187px;
    background: linear-gradient(90deg, #24517A 0%, #4295E0 100%);
    box-shadow: 0px 0px 4px rgba(36, 81, 122, 0.15);
    border-radius: 100px;
    border: #FFFFFF;
    font-family:'Poppins';
    font-weight: 500;
    font-size: 14px;
    cursor: pointer;
  }

  .btn-container{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .about-lucas{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    column-gap: 130px;
  }


  .about-text{
    display: flex;
    flex-direction: column;
    font-size: 15px;
    font-weight: 400;
    font-family: 'Public Sans';
    width: 638px;
    height: 361px;
    padding: 0;
  }


  h2{
    font-family: "SuisseIntlMono1";
    font-weight: 450;
    text-align: justify;
    font-size: 40px;
    color:rgba(11, 31, 54, 1);
    margin-bottom: 2px;
  }

  p{
    font-weight: 400;
    font-size: 15px;
    font-family: 'Public Sans';
    text-align: justify;
    color: rgba(11, 31, 54, 1);
  }

  .about-img{
    margin-top: 30px;
    width: 522px;
    height: 425px;
    object-fit: cover;
    border-radius: 20px;
  }

  .resultados-section{
    display:flex;
    flex-direction: column;
    align-content: center;
  }

  #ocultoDesktop{
    display: none;
  }

  h3{
    display: flex;
    justify-content: center;
    font-family: "SuisseIntlMono1";
    font-weight: 450;
    font-size: 40px;
    text-align: center;
    color: rgba(11, 31, 54, 1);
  }

  .subtitulo1{
    padding-left: 20px;
    font-family: "SuisseIntlMono1";
    font-weight: 450;
    font-size: 16px;
    color: rgba(11, 31, 54, 1);  
  }

  .subtitulo2{
  padding-left: 12px;
  font-family: "SuisseIntlMono1";
  font-weight: 450;
  font-size: 16px;
  color: rgba(11, 31, 54, 1);  
  margin-top: 58px;
  }

  .graficos-glucemia{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    padding: 0 16px;
    gap: 14px;
    box-sizing: border-box;
  }

  .grafico-glucemia1{
    width: 100%;
    height: auto;
    border-width: 1px;
  }

  .grafico-glucemia2{
    width: 250px;
    height: auto;
    margin-bottom: 17px;
    border-radius: 30px;
    border-width: 1px;
    border: 1px solid rgba(162, 211, 235, 1);
    box-shadow: 0px 0px 4px 0px rgba(36, 81, 122, 0.15);
    box-shadow: 4px 7px 10.1px 0px rgba(0, 0, 0, 0.05);
  }


  .imagenes-evolucion{
    display: flex ;
    flex-direction: row;
    align-content: center;
    align-items: center;
    gap: 15px;
  }
  
  .graficos-container{
    display: flex;
    justify-content: space-between;
    padding: 0 11px;
  }

  .imagenes-evolucion2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
  }

  .grafico-1{
    width: 237px;
    height: 486px;
    border-radius: 30px;
    border-radius: 30px;
    border-width: 1px;
    border: 1px solid rgba(162, 211, 235, 1);
    box-shadow: 0px 0px 4px 0px rgba(36, 81, 122, 0.15);
    box-shadow: 4px 7px 10.1px 0px rgba(0, 0, 0, 0.05);
  }

  .grafico-2{
    display: block;
    width: 785px;
    height: 108px;
    border-radius: 25px;
    border-width: 1px;
    border: 1px solid rgba(162, 211, 235, 1);
    box-shadow: 0px 0px 4px 0px rgba(36, 81, 122, 0.15);
    box-shadow: 4px 7px 10.1px 0px rgba(0, 0, 0, 0.05);
  }

  .subtitulo{
   font-family: "SuisseIntlMono1";
    font-weight: 450px;
    font-size: 18px;
    line-height: 81%;
    letter-spacing: 0%;
  }

  .calendario-section{
    display: flex;
    display: row;
    justify-content: space-between;
    gap: 50px;
    margin-top: 110px;
    margin-bottom: 100px;
  }

  .calendario-textcontainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 90px;
    width: 637px;
    height: 239px;

  }

  .calendario-text{
    font-family: 'Public Sans';
    font-weight: 400;
    font-size: 18px;
    text-align:justify;
    color:#24517A;
    letter-spacing: 0%;
    line-height: 1.6;
    margin-top: -40px;
  }


  .calendario{
    width: 50%;
    height: 602px;
    margin: 0; 
    border-radius: 30px;
    border: 1px solid rgba(162, 211, 235, 1);
    box-sizing: border-box;
    box-shadow: 0px 0px 4px 0px rgba(36, 81, 122, 0.15);
    scroll-margin-top: 30px;
    box-shadow: 4px 7px 10.1px 0px rgba(0, 0, 0, 0.05);
    }


  h4{
    display: flex;
    justify-content: center;
    font-family: "SuisseIntlMono1";
    font-size: 40px;
    font-weight: 450;
    text-align: center;
    color: rgba(11, 31, 54, 1);
  }

  .program-features{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    overflow-x: hidden;
    gap: 15px;
    padding-inline: clamp(16px, 4vw, 48px);
    box-sizing: border-box;
  }

  .feature-grid1{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 28px;
    margin-bottom: 28px;
  }

    .feature-grid2{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    gap:28px;
  }

  .feature-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    width: clamp(280px, 30%, 450px);
    box-sizing: border-box;
    flex-shrink: 0;
    padding: 0 50px;
    border-radius: 20px;
    border-width: 1px;
    border: 1px solid rgba(162, 211, 235, 1);
  }

  .card-title{
    font-family: "Public Sans";
    font-weight: 700;
    font-size: 18px;
    text-align: center;
  }

  .card-text{
    text-align: center;
  }
  .card-blue{
    color:rgba(36, 139, 233, 1);
  }

  .cta-button{
    color: white;
    width: 276px;
    height: 48px;
    background: linear-gradient(90deg, #24517A 0%, #4295E0 100%);
    box-shadow: 0px 0px 4px rgba(36, 81, 122, 0.15);
    border-radius: 100px;
    border: #FFFFFF;
    font-family:'Poppins';
    font-weight: 500;
    font-size: 14px;
    margin-top: 57px;
    margin-bottom: 152px;
    cursor: pointer;
  }

  .logo-card{
    width: 92px;
    height: 93px;
  }

/*CARROUSEL CSS*/

h5{
  font-family: "SuisseIntlMono1";
  font-size: 25px;
  color: rgba(11, 31, 54, 1);
  font-weight: 450;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  }

  .ellipse{
  margin-top: 65px;
  width:9px;
  height: 9px;
  background: rgba(36, 81, 122, 1);
  border-radius: 100%;
  }

swiper-container {
  width: 100%;
  margin: auto;
  box-sizing: border-box;
  overflow: visible;
  margin-top: 5px;
}

swiper-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
  width: 640px;
  height: 244px;
  border-radius: 20px;
  box-shadow: 0px 0px 8px rgba(36, 81, 122, 0.1);
  background: linear-gradient(180deg, #24517A 0%, rgba(66, 149, 224, 0.7) 100%);
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  text-align: center;
  transition: transform 0.3s, opacity 0.3s;
  opacity: 0.4;
  transform: scale(0.9);
}

swiper-slide.swiper-slide-active {
  opacity: 1;
  transform: scale(1);
}

.slide-text-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 70px;
}

.slide-text1{
  font-family: 'Public Sans';
  font-weight: 600;
  font-size: 18px;
  color: white;
  text-align: center;
  justify-content: center;
}

.slide-text2{
  font-family: 'Public Sans';
  font-weight: 400;
  font-size: 16px;
  color: white;
  text-align: center;
  justify-content: center;
}

.scroll-top-btn {
  position: fixed;
  bottom: 190px;
  right: 60px;
  width: 64px;
  height: 64px;
  border: none;
  cursor: pointer;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: linear-gradient(180deg, #24517A 0%, #4295E0 100%);
}

.scroll-top-btn:hover {
  transform: scale(1.05);
  opacity: 0.55;
}



/*FOOTER CSS*/

.footer-section{
  width: 100%;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  background: linear-gradient(0deg, #24517A 0%, rgba(66, 149, 224, 0.75) 100%);
  margin-top: 180px;
  box-shadow: 0px 0px 8px 0px rgba(36, 81, 122, 0.1);
  }

.footer-container{
  display: flex;
  flex-direction: column;
  padding-left:38px;
  padding-right: 38px;
  padding-inline: 40px;
  padding-bottom: 20px;
  }


.logo-footer{
  width: 84px;
  height: 84px;
  align-items: start;
  }


.footer-row{
  margin-top:25px;
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  gap:24px;
  }

  .footer-links{
  color: #ffffff; /* o el color institucional que prefieras */
  text-decoration: none;
  font-weight: 400;
}

.footer-links a:hover {
  text-decoration: underline;
  color: #aad8ff; /* tono más claro al pasar el mouse */
}


.footer-text{
  font-family: "Public Sans";
  text-align: start;
  font-weight: 400px;
  font-size: 12px;
  color: rgba(255, 255, 255, 1);
  }



  #footer-text-2{
    margin-inline-start: 100px;
    text-align: center
  }

  .grafico-glucemia2Mobile{
    display: none;
  }

  .desktop-only {
  display: flex;
}
.mobile-only {
  display: none;
}


.media-container{
  max-width: unset !important;
  overflow: hidden;
}

.scroll-top-btn-mobile {
  display: none;
  
}

.hamburger-mobile-only{
  display: none;
}

/*MOBILE*/

@media screen and (max-width: 768px) {

  
  #footer-text-2{
    margin-right: 104px;
  }

  .mobile-only{
    display: block;
  }

  .hamburger-mobile-only {
  border: none;
  width: 26px;
  font-size: 23px;
  border-width: 2px;
  top: 20px;
  left: -20px;
  color:rgba(36, 81, 122, 1);
  transform: translateY(-50%);
  max-width: 300px;
  background:none;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  justify-content: start;
  position: absolute;
}


.mobile-menu{
  background-color:rgba(255, 255, 255, 1);
  box-shadow: 0px 0px 4px 0px rgba(36, 81, 122, 0.15);
  box-shadow: 4px 7px 10.1px 0px rgba(0, 0, 0, 0.05);
  z-index: 9999;
  font-family: 'Poppins';
  color: #24517A;
  display: flex;
  position: fixed;
  flex-direction: column;
  border: 1px solid rgba(162, 211, 235, 1);
  gap:20px;
  width: 120px;
  height: 350px;
  border-radius: 30px;
  justify-content: center;
  align-content: center;
  text-align: start;
  padding-inline:30px;
  transform: translateX(0);
  margin-top: 295px;
  position: absolute;
  left: -13px;
}

.close-btn {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  z-index: 10000;
  color: rgba(11, 31, 54, 1);
  font-size: 15px;
}

  html, body {
    margin: 0;
    width: 100%;
    padding: 0;
    scroll-behavior: smooth;
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
  }

  .main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    width: 100%;
    margin: auto;
    box-sizing: border-box;
  }

  .background {
    background: linear-gradient(180deg, #FFFFFF 1.11%, #A2D3EB 49.18%, #FFFFFF 68.94%);
    max-width: 100%;
    padding: 0 16px;
    margin: 0 auto;
    width: 100%;
    align-content: center;
  }

  .navbar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    background: none;
    margin-top: 10px;
  }

  .nav-left {
    display: none;
  }

  .nav-right {
    display: flex;
    margin-right: 143px;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    text-align: center;
  }

  .nav-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: none;
    border-radius: 0;
  }

  .imglogo {
    margin-left: 18px;
    width: 173px;
    height: 214px;
  }

  .video-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .videoDesktop {
    display: none;
  }

  
  .videoMobile {
    display: block;
    position: relative;
    width: 100%;
    aspect-ratio: 9 / 16 !important;
    overflow: hidden;
  }

  .hero-message{
    display: none;
  }

  .hero-message-mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 16px;
    width: 100%;
    margin: auto;
  }

  .text1, .text2 {
    font-family: "SuisseIntlMono1";
    font-weight: 450;
    font-size: 40px;
    text-align: center;
  }

  .text1 {
    color: rgba(255, 255, 255, 1);
  }

  .text2 {
    margin-top: -50px;
    color: rgba(36, 81, 122, 1);
  }

  .btn-container {
    margin-top: 10px;
    text-align: center;
  }

  #oculto{
    display: none;
  }

  #ocultoDesktop{
    display: block;
    width: 186px;
    height: 384px;
    border: 1px solid rgba(162, 211, 235, 1);
    box-shadow: 0px 0px 4px 0px rgba(36, 81, 122, 0.15);
    box-shadow: 4px 7px 10.1px 0px rgba(0, 0, 0, 0.05);
    border-radius: 30px;
  }

  .glucosa-rango{
    display: flex;
    justify-content: center;
  }


  .grafico-mobile{
    display: block;
    height: auto;
    margin-bottom: 17px;
    border-radius: 30px;
    border-width: 1px;
    box-shadow: 0px 0px 4px 0px rgba(36, 81, 122, 0.15);
    box-shadow: 4px 7px 10.1px 0px rgba(0, 0, 0, 0.05);
  }

  .graficos-glucemia{
    align-items: center;
    align-self: center;
    padding: 0 2px;
    gap:12px;
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    box-sizing: border-box;
  }


   .about-text, .resultados-section, .grafico-glucemia-mobile, .calendario-section{
    width: 100%;
    box-sizing: border-box;
    padding: 0 16px;
  }


  .calendario{
    width: 100%;
    margin: auto;
    box-sizing: border-box;
  }

  .about-lucas {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
  }

  .about-text {
    font-size: 15px;
  }

  h2 {
    font-size: 28px;
  }

  .btn-ayuda{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    align-content: center;
    border-radius: 30px;
    box-sizing: border-box;
    box-shadow: 0px 0px 4px 0px rgba(36, 81, 122, 0.15);
    background: linear-gradient(90deg, #24517A 0%, #4295E0 100%);
    z-index: 10;
  }

  .btn-text{
    font-size: 14px;
    font-family: 'Poppins';
    color: white;
    text-align: center;
    font-weight: 500;
    text-align: center;
    margin: auto;
  }

  .about-img{
    width: 91%;
    height: auto;
    object-fit: cover;
    border-radius: 20px;
    margin-top: 305px;
  }

  .grafico-glucemia2{
    width: 100%;
    height: 384px;
    gap: 3px;
  }


  .imagenes-evolucion {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: auto;
    padding: 0 16px;
  }

  .graficos-container{ 
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 12px;
  } 

  .grafico-1 {
    width: 50%;
    height: auto;
    object-fit: cover;
  }

  .grafico-2{
    width: 100%;
    height: auto;
    object-fit: cover;
  }


  .calendario-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
  }

  .calendario-textcontainer {
    align-items: center;
    width: 100%;
    height: auto;
    margin-top: 40px;
  }

  .calendario-text {
    font-size: 16px;
    text-align: justify;
    white-space: normal;
    word-break: break-word;
    hyphens: auto;
  }


  .program-features {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: auto;
    width: 90%;
  }

  h4 {
    font-size: 23px;
    text-align: center;
    margin-bottom: 0px;
  }

  .feature-grid1, .feature-grid2 {
    display: flex;
    flex-direction: column;
  }

  .feature-card {
    width: 100%;
    height: auto;
    border-width: 1px;
    box-sizing: border-box;
  }

  .cta-button {
    display: none;
  }

  swiper-container {
    width: 100%;
    max-width: 360px;
    margin: 0 auto;
  }

  swiper-slide {
    width: 100%;
    height: auto;
    transform: scale(1);
    opacity: 1;
  }

  .slide-text-container {
    padding: 16px;
  }

  #faq{
    margin-top: -20px;
  }

  .footer-section{
    padding-bottom: -28px; 
    margin-top: 120px;
  }


  .footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 24px;
    box-sizing: border-box;
  }

  .footer-row {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 20px;
    gap: 12px;
  }

  .footer-text, .footer-links {
    font-size: 8px;
    font-weight: 400;
    text-align: center;
    margin: 0 auto;
    max-width: 280px;
    width: 100%;
    box-sizing: border-box;
  }

  .logo-footer {
    width: 120px;
    height: 120px;
  }

  #footer-text-1 {
    display: none;
  }

  #footer-text-2 {
    margin-top: -25px;
  }


  .scroll-top-btn {
    display: none;
  }

  .scroll-top-btn-mobile {
    display: flex;
    position: fixed;
    background: #24517a;
    border: none;
    border-radius: 50%;
    padding: 12px;
    cursor: pointer;
    z-index: 9999;
    justify-content: center;
    align-items: center;
    bottom: 30px;
    right: 30px;
  }

  .scroll-top-btn-mobile img {
    width: 8px;
    height: 4px;
  }


}




/* iPhone SE / móviles pequeños (≤360px) */
@media screen and (max-width: 360px) {
  html, body {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    width: 100%;
    overflow-x: hidden;
    box-sizing: border-box;
  }

  .main-container,.background {
    padding: 0 16px;
    max-width: 100%;
    gap: 10px;
  }


  .subtitulo2{
    text-align: start;
    font-size: 16px;
  }

  .text1, .text2 {
    font-size: 28px;
  }

  .feature-card {
    padding: 0 16px;
  }

  .about-text, .calendario-text {
    font-size: 14px;
  }

  .grafico-glucemia-mobile {
    height: auto;
  }

  .grafico-2{
    width: 100%;
    height: 118px;
    border-radius: 15px;
    border-width: 1px;
  }


}

/* iPhone 12 / Galaxy S22 / móviles estándar (≤430px) */
@media screen and (max-width: 430px) {
  html, body {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    width: 100%;
  }

  .nav-center{
    margin-top: 225px;
  }

  .nav-right{
    margin-top: 115px;
    padding-left: 10px;
  }
  
  .main-container{
    padding: 0;
    margin: 0 auto;
    width: 100%;
    max-width: 100%;
    position: relative;
    padding-bottom: 310px;
  }

  .background {
    padding: 0 16px;
    width: 100%;
  }

  .video-container {
    width: 100vw;
    margin: 0;
    padding: 0;
    margin-top: 50px;
  }

  .videoMobile {
   display: block;
    position: relative;
    width: 100%;
    aspect-ratio: 9 / 16 !important; 
    border-radius: 30px; 
    overflow: hidden;
    margin: 0 auto;
  }

.videoMobile iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
  }

  .hero-message {
    padding: 0;
    text-align: center;
    gap: 8px;
  }


  .text1, .text2 {
    font-size: 32px;
  }

   .feature-card {
    width: 100%;
    padding: 24px;
  }

  .about-img {
    border-radius: 16px;
    margin-top: 410px;
  }


  .footer-container {
    padding: 0 16px;
    gap: 24px;
  }

  .footer-text {
    font-size: 10px;
    max-width: 280px;
  }
  
  .footer-section {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100vw;
  z-index: 9999;
  background: linear-gradient(0deg, #24517A 0%, rgba(66, 149, 224, 0.75) 100%);
  }

#faq{
  font-size: 23px;
  justify-content: center;
  text-align: center;
}

}

@media screen and (max-width: 430px) and (min-height: 850px) {


  .nav-right{
    margin-top: 115px;
    padding-right: 1px;
  }

  .nav-center{
    margin-top: 225px;
    padding-right: 8px;
  }

  .about-img {
    margin-top: 200px;
  }

   .footer-section {
    position: relative;
    margin-top: 120px;
    padding-bottom: 28px;
  }

  .main-container {
    padding-bottom: 95px; 
  }

  .hero-message-mobile {
    gap: 24px;
  }

  .text1,
  .text2 {
    font-size: clamp(32px, 4vw, 40px);
  }

}


@media screen and (min-width: 600px) and (max-width: 1024px) {
  /* Estilos específicos para tablets */

  .main-container, .background{
    padding: 0;
  }

  .nav-center{
    margin-top: 230px;
    padding-right: 23px;
  }

  .nav-right{
    margin-top: 112px;
  }

  h5{
    display: none;
  }
  swiper-container{
    display: none;
  }

  .about-lucas, .resultados-section{
    padding: 0 15px;
  }


  .about-img{
    margin-top: 90px;
  }

  .text1, .text2 {
    font-size: 32px;
  }

  .video-container{
    margin-top: 40px;
    width: 100%;
  }

  .videoMobile {
    display: none;
  }

  .videoDesktop{
    display: block;
  }

  .footer-section {
    margin-top: 80px;
  }

}

/* Laptops grandes y desktop hasta 1536px */
@media screen and (max-width: 1536px) {
  .navbar {
    margin-top: 10px;
  }

  .nav-left{
    margin-right: 290px;
  }

  .main-container, .background {
    margin: 0 ;
    box-sizing: border-box;
  }
}

/* Laptops medianas (hasta 1440px) */
@media screen and (max-width: 1440px) {
  .program-features, .feature-grid1, .feature-grid2 {
    padding: 0;
    gap: 24px;
    max-width: 100%;
  }

  .btn-ayuda {
    padding: 16px ;
    font-size: 18px;
  }

}

/* Laptops más chicas / MacBook 13" */
@media screen and (max-width: 1280px) {
  .hero-message {
    margin-top: -40px;
  }

  .calendario {
    max-width: 800px;
    margin: 48px;
    border-radius: 30px;
  }

  .calendario-section {
    margin: 0 ;
    margin-top: 75px;
  }
}